/*
    font-face includer
    by Bas de Bruin

    contains: Space Grotesk
*/

@font-face {
    font-family: "Generale Station";
    src: url("generale-station/generalestation-webfont.woff2") format("woff2"),
         url("generale-station/generalestation-webfont.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}