/*
    font-face includer
    by Bas de Bruin

    contains: iA Writer Quatro
*/

@font-face {
    font-family: "iA Writer";
    src: url("iAWriterQuattroS-Regular.eot");
    src: url("iAWriterQuattroS-Regular.woff2") format("woff2"),
         url("iAWriterQuattroS-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "iA Writer";
    src: url("iAWriterQuattroS-Italic.eot");
    src: url("iAWriterQuattroS-Italic.woff2") format("woff2"),
         url("iAWriterQuattroS-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iA Writer";
    src: url("iAWriterQuattroS-Bold.eot");
    src: url("iAWriterQuattroS-Bold.woff2") format("woff2"),
         url("iAWriterQuattroS-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "iA Writer";
    src: url("iAWriterQuattroS-BoldItalic.eot");
    src: url("iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
         url("iAWriterQuattroS-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}


/* space grotesk */

@font-face {
    font-family: "Space Grotesk";
    src: url("variable/SpaceGroteskVariable.ttf");
    font-weight: 1 999;
    font-style: normal;
}