html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

body {
  width: 100%;
  color: #000;
  background: #FFF;
  font-size: 1rem;
  font-family: "sofia-pro", -apple-system, Roboto, sans-serif;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button, a {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  background: #FAB405;
  color: #FFF;
  cursor: pointer;
  transition: all .15s ease-out;
}

button:hover, a:hover, button:active, a:active {
  background: #76C3E2;
}

a {
  text-decoration: none;
}

.hover-red:hover {
  background: #CD3C0A;
}

h1 {
  font-weight: bold;
  font-size: 2.8rem;
}

@media (max-width: 60rem) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

h3 {
  font-weight: 300;
  font-size: 1.4rem;
}

h4 {
  font-weight: bold;
  font-size: 1.25rem;
}

b, .bold {
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem 0;
}

.bold, b {
  margin: 0;
  margin-bottom: -1rem;
}

gppac-spacer {
  display: block;
  height: 2rem;
  width: 100%;
}
