// head scss
// by bas de bruin

// colors
$color:       #000;
$background:  #FFF;
//
$light-grey:  #D8D8D8;
$dark-grey:   #BFB2B5;
$yellow:      #FAB405;
$light-blue:  #76C3E2;
$dark-blue:   #3180A4;
$red:         #CD3C0A;
$green:       #5F9641;
$accent: $yellow; //buttons

// font
$font-size: 16px;
$fonts: 'sofia-pro', -apple-system, Roboto, sans-serif;
// border
$border-radius: 0;
// sizing
$padding: 0.8rem;
$breakPoint: 60rem;


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root {
    font-size: $font-size;
}

body {
    width: 100%;
    
    color: $color;
    background: $background;

    font-size: 1rem;
    font-family: $fonts;

    box-sizing: border-box;
    * {box-sizing: border-box}
}


// Basic Styles

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

hr {
    margin: 2rem auto;
    width: 4rem;
    height: 1px;
    border: none;
    background: $background;
}

a {
    font-weight: bold;
    color: inherit;
    transition: all .15s;
    display: inline-block;

    &:hover {
        opacity: 0.8;
    }
}

p > a {
    display: inline;
}

button, .button {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    border: none;
    border-radius: $border-radius;
    background: $accent;
    color: $background;

    cursor: pointer;
    transition: all .15s ease-out;
    &:hover, &:active {
        background: $light-blue;
        opacity: 1;
    }
}
.hover-red:hover { background: $red }

// Titles and text

h1 {
    font-weight: bold;
    font-size: 2.8rem;
    @media (max-width: $breakPoint) {
        font-size: 2.2rem;
    }
}
h2 {
    font-weight: bold;
    font-size: 1.4rem;
}
h3 {
    font-weight: 300;
    font-size: 1.4rem;
}
h4 {
    font-weight: bold;
    font-size: 1.25rem;
}
b, .bold {
    font-weight: bold;
}
p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}
.bold, b {
    margin: 0;
    margin-bottom: -1rem;
}


// Containers

gppac-spacer {
    display: block;
    height: 2rem;
    width: 100%;
}

@mixin fade($c, $opacity) {
    background: rgba(red($c), green($c), blue($c), $opacity);
}