---
index: 2
tags: portfolio
layout: layouts/page.pug
title: GPPAC Annual Report
client: GPPAC

link_to: "https://annual-report2019.gppac.net"
link_text: Go to the website
discription: A simple 3 page microsite to show the work of peace organisation GPPAC
tasks: ['Web Development', 'UX']

image: gppac_hero.jpg
---