---
index: 3
tags: portfolio
layout: layouts/page.pug
title: Designing an interactive music experience for small children
link_text: See more on instagram
link_to: "https://instagram.com/thinkinginsound"
tasks: ['Audio Design', 'Product Design']

image: acc_game_ill.svg
---