---
index: 1
tags: portfolio
layout: layouts/page.pug
title: Making navigating spaces easier for blind people using audio design

link_to: "#"
link_text: Read more
tasks: ['Audio Design', 'UX Research']

image: gppac_hero.jpg
---