script.
    function openContact() {
        let contact = document.getElementById('contact');
        contact.style.display = 'flex';
        contact.setAttribute('aria-hidden', 'false');
        // wait 100s to allow animation
        setTimeout(() => 
            {contact.classList.add('open')},
            100);
    }
    function closeContact() {
        let contact = document.getElementById('contact');
        contact.classList.remove('open');
        contact.setAttribute('aria-hidden', 'true');
        // display: none after 1s
        setTimeout(() => 
            {contact.style.display = 'none'},
            1000)
    }

#contact(aria-hidden="true")
    .content
        button#contact-close-button(onclick="closeContact()" title="Close" data-sound="slide-right")
            img(src="/assets/icons/close-icon.svg" alt="close icon")
        
        .big-text
            h2.
                Let's get in contact!
            p.
                Send me an #[a(href="mailto:bruin998@gmail.com") email] <br>
                ...or check me out on #[a(href="https://www.instagram.com/bas.de.bruin/" target="_blank") instagram].

            

//- #contact(aria-hidden="true")
//-     button#contact-close-button(onclick="closeContact()" title="Close" data-sound="slide-right")
//-         img(src="/assets/icons/close-icon.svg" alt="close icon")
    
//-     .columns

//-         .about
//-             #contact-bas
//-                 include ../../../assets/icons/bas-typelogo-filled.svg
//-             p.
//-                 I combine interactive-, audio-, visual- and experience design with programming and technology. <br>
//-                 Hit me up! -> I'm always open to learn new things.        
//-         .contact-info
//-             #contact-info
//-                 include ../../../assets/icons/contact-typelogo-filled.svg
//-             p.
//-                 Shoot me an email or check out my instagram, where I post experiments and current projects:
            
//-             +icon-button('email', 'mailto:bruin998@gmail.com')
//-                 include ../../../assets/icons/icon-email.svg
//-             +icon-button('instagram', 'https://www.instagram.com/bas.de.bruin')
//-                 include ../../../assets/icons/icon-insta.svg
            