//- FOOTER


footer.container.
    This website is made by me using Eleventy, Esbuild and Netlify <br>
    Check out the #[a(href="https://github.com/basdebruin/basdebruin.github.io").link code] if you want!