//- FOOTER

//- Compile time script to get Page
- 
    // get current index within portfolioItems
    let pageIndex = 0;
    let i = 0;
    for (let item of collections.portfolioItems) {
        if (page.url == item.url) pageIndex = i;
        i++;
    }

    // get page at index with wrapping
    const getPage = index => {
        const l = collections.portfolioItems.length;
        if (index < 0)
            return collections.portfolioItems[l+index];
        if (index > l-1)
            return collections.portfolioItems[index-l];
        if (collections.portfolioItems[index]) 
            return collections.portfolioItems[index];
    }

footer.container
    //- INDEX
    if layout == 'layouts/index'
        .columns.center
            div
                p.
                    Want to see more? Check out my instagram &rarr;
            div
                a.button.arrow-right(href="https://www.instagram.com/bas.de.bruin" data-sound="click") @bas.de.bruin
    //- PAGE
    else
        .center: p.
            View other projects:
        .columns.center
            div
                a.button.arrow-left(href=getPage(pageIndex-1).url data-sound="click")= getPage(pageIndex-1).data.title
            div
                a.button.arrow-right(href=getPage(pageIndex-1).url data-sound="click")= getPage(pageIndex+1).data.title