//- FOOTER


footer
    p.
        This website is made by me using Eleventy, Esbuild and Netlify <br>
        Check out the #[a(href="https://github.com/basdebruin/basdebruin.github.io") code] if you want!