//- HEAD

head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title === 'Bas de Bruin' ? title : title + '  |  Bas de Bruin'
    meta(name='author' content='Bas de Bruin')
    meta(name='description' content="Bas' Portfolio")
    meta(name='keywords' content='Bas, de, Bruin, basdebruin, Bas de Bruin, generalist, designer, all-round, multidisciplinary, graphic, grafisch, interactief, interactive, UX, UI, user, experience, ontwerper, ervaring, gebruiker, marketing, visual, audio, sound, programmer, programmeur, coder, creative, photoshop, sketch, accessility, toegankelijkheid, game, javascript, web, web design, bouwer')

    // favicon
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png")

    //- link(rel='stylesheet' href='/reset.css')
    link(rel='stylesheet' href='/assets/fonts/font-includer.css')
    link(rel='stylesheet' href='/main.css')

    // inter font
    //link(rel="preconnect" href="https://fonts.gstatic.com")
    //link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet")

    // Manrope font
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap" rel="stylesheet">

    // main scripts
    script(src="/js/main.js" defer)