include ../mixins/page-mixins.pug

doctype html
html(lang="en")
    include head.pug
    body
        header.lowered
            .container
                em#name Bas de Bruin
                ul#menu
                    li: a(href="#") About
                    li: a(href="#work") Work
                    li: a(href="#contact") Contact
                    span.indicator

        main#swup.transition-main
            | !{content}
        
            include footer.pug