include ../mixins/page-mixins.pug

doctype html
html(lang="en")
    include head.pug
    body
        +contact-button
        include contact.pug
        
        main#swup.transition-main
            | !{content}
        
            include footer.pug