doctype html
html(lang="en")
    include head.pug
    body

        .page-name-label Bas

        article#page-content.container

            a#back-button(href="/").button <- Go back home
            
            | !{content}

        include footer.pug