html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-size: 18px;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  background: #fafafa url("dot_pattern.png") repeat;
  background-size: 0.4rem;
  color: #2a2a2a;
  font-family: "Barlow", -apple-system, sans-serif;
  letter-spacing: 0.03em;
}

body * {
  font-weight: normal;
  box-sizing: border-box;
}

section, hero {
  background: #fafafa;
  display: block;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  /*
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }*/
}

#up-arrow {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 50px;
  height: 50px;
}

#up-arrow img {
  transition: all .2s;
}

#up-arrow:hover img {
  filter: contrast(200%);
}

hero {
  background: none;
  margin: 6rem auto;
  display: flex;
  flex-flow: column;
  text-align: center;
}

h1, h2, h3, h4 {
  background: #fafafa;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  text-transform: uppercase;
}

h2, h3, h4 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3, h4 {
  background: none;
  margin: 0.5rem 0;
  padding: 0;
}

h4 {
  margin: 1rem 0;
  font-size: 1rem;
}

img, picture, video {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

label {
  margin: -1rem -2rem 1rem -1rem;
  box-sizing: content-box;
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  background: #2a2a2a;
  color: #fafafa;
  text-align: right;
}

hr {
  background: #2a2a2a;
  background-position: center;
  border: none;
  height: 1px;
  width: 4rem;
  padding: none;
  margin: 2rem auto;
}

ol {
  margin: 0 0 3rem 0;
  counter-reset: ol-li-counter;
  list-style: none;
}

ol li {
  margin: 2rem 0 2rem 2rem;
  counter-increment: ol-li-counter;
}

ol li::before {
  content: counter(ol-li-counter);
  background: #2a2a2a;
  color: #fafafa;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem -2.2rem -4rem;
  padding-top: 0.5rem;
  display: block;
  height: 2.5rem;
  width: 3rem;
  border-radius: 100%;
  text-align: center;
}

ol li h4 {
  margin: 0 0 0.5rem 0;
}

nav a {
  display: block;
  color: #2a2a2a;
  text-decoration: none;
  border-bottom: #2a2a2a 1px solid;
  padding: 1rem 0.5rem;
  padding-left: 0;
  margin: 0.5rem 0;
  transition: all .2s;
}

nav a:hover {
  background: #2a2a2a;
  color: #fafafa;
  padding-left: 1rem;
}
