---
layout: layouts/index
title: Bas de Bruin
---

.card#name
    .front
        h1 Hi! I'm Bas
    .back
        h1 Hoi! Ik ben Bas

.card
    .front
        img(src="/assets/images/gppac_hero.jpg")
        h2 Teaching digital accessibility through an online game
    .back
        img(src="/assets/images/gppac_logo.jpg")

.card
    .front
        h2 I make stuff
    .back
        h2 Super cool stuff