---
layout: layouts/index
title: Bas de Bruin
---

.card.half-size#name
    .front
        h1 Hi! <br> I'm #[b Bas]
    .back
        h1 Hoi! <br> Ik ben #[b Bas]

.card#muziekfabriek
    .front
        img(src="/assets/images/temp_muziekfabriek.png")
        h2 Designing an interactive music experience for small children
    .back
        p.
            As part of audio collective <b>Thinking in Sound</b>, we made a sound installation that allows children ages 6 and under to make music in a way that is accessible to them. <br>
            The installation was presented on festivals in Haarlem and Bloemendaal
        a(href="https://instagram.com/thinkinginsound" target="_blank").button See more on Instagram

.card
    .front
        img(src="/assets/images/gppac_logo.jpg")
        h2 Making navigating spaces easier for blind people using audio design
    .back
        img(src="/assets/images/gppac_logo.jpg")


.card
    .front
        h2 I'm a Multidisciplinary Designer with a background in a variety of disciplines:
        img(src="/assets/images/design_skills.png")
    .back
        h2 I make stuff


.card.centered.half-size
    .front
        h2 I like to design with people, for people
    .back
        h2 Also known as "collaborative design"



.card
    .front
        img(src="/assets/images/acc_game_icon.png")
        h2 Teaching digital accessibility through an online game
    .back
        img(src="/assets/images/gppac_logo.jpg")

