---
layout: layouts/index
title: Bas de Bruin
---
include _includes/mixins/page-mixins.pug

// INTRO TEXT
section#intro
    h1 Hi! #[br] I'm #[br.s] Bas
    span scroll

section#about
    h2 I'm a Multidisciplinary Designer
    h3 With a background in a variety of disciplines

section#about-2
    h3.
        I like to combine <b>visual-</b>, <b>audio-</b> and <b>interactive</b> design to create experiences that are
        <b>innovative</b>, <b>for everyone</b> and just a <b>joy to use!</b>

// PORTFOLIO ITEMS
section#work
    h2 Check out some of <br> <b>my projects &rarr; </b>
    .columns
        each item, index in collections.portfolioItems
            a(href=(item.data.link_to || item.url)).portfolio-item
                h3= item.data.title


section#contact
    h2.line-title Let's get in touch!

    strong.
        Send me an email <br>
        Check me out on Instagram <br>
        or LinkedIn

