---
layout: layouts/index
title: Bas de Bruin
---

.card.half-size#name
    .front
        h1 Hi! <br> I'm #[b Bas]
    .back
        h1 Hoi! <br> Ik ben #[b Bas]


.card
    .front
        h2 I'm a Multidisciplinary Designer with a background in a variety of disciplines:
        img(src="/assets/images/design_skills.png").dark-invert
    .back.centered
        h2 I make stuff that looks good, sounds good and feels good to use 👍



    


.card#muziekfabriek
    .front
        img(src="/assets/images/muziekfabriek_photo.jpg")
        h2 Designing an interactive music experience for small children
    .back
        img(src="/assets/images/muziekfabriek_wide.jpg")
        p.
            As part of audio collective <b>Thinking in Sound</b>, we made a sound installation that allows children ages 6 and under to make music in a way that is accessible to them. <br>
            The installation was presented on festivals in Haarlem and Bloemendaal
        a(href="https://instagram.com/thinkinginsound" target="_blank").button.dark See more on Instagram

.card
    .front
        img(src="/assets/images/wayfinding_walking.png")
        h2 Making navigating spaces easier for blind people using audio design
    .back.centered
        p More info about this project coming soon...


//- .card.half-size
//-     .front.centered
//-         h2 I like to design with people, for people
//-     .back.centered
//-         h2 Also known as "collaborative design"



.card
    .front
        img(src="/assets/images/acc_game_icon.png")
        h2 Teaching digital accessibility through an online game
    .back(style="background: #3354E0; color: var(--light)")
        p As part of an internship at <b>Stichting Accessiblity</b> I designed and developed an online game that raises awareness by letting the player experience what it's like to have a disability when using the internet. 
        p The game was created over the course of 3 months and I did the conceptualisation, design and final development of the game. 
        p Experience experts were consulted at every step in the design proces to make sure each disability was accurately depicted.
        a.button(href="https://accessibility-game.netlify.app" target="_blank") Play the game here


.card
    .front.centered(style="gap: 1rem")
        h3 Follow what <br> I'm doing on:
        a(href="https://instagram.com/bas.de.bruin" target="_blank").button Instagram
    .back
        .image-grid
            img(src="assets/images/acc_game_tunnelvision.png")
            img(src="assets/images/gppac_map.jpg")
            img(src="assets/images/temp_muziekfabriek.png")
            img(src="assets/images/gppac_logo.jpg")

.card
    .front.centered
        h3 Let's get in contact &rarr;
    .back.centered
        h3 Hit me up! I'm always open to learn new stuff and meet new people!

.card.half-size
    .front.centered
        p Send me an email:
        a.button(href="mailto:hoi@basdebruin.com") hoi@basdebruin.com
    .back.centered
        p Or add me on LinkedIn:
        a.button(href="#" target="_blank") LinkedIn