---
layout: layouts/index
title: Bas de Bruin
---

// Name
.card.half-size#name
    .front
        h1 Hi! <br> I'm #[b Bas]
    .back
        h1 Hoi! <br> Ik ben #[b Bas]

// Intro
.card
    .front
        h2(style="width: 100%") I'm a Multidisciplinary Designer with a background in a variety of disciplines:
        img(src="/assets/images/design_skills.png" alt="visual design, audio design, ux design").dark-invert
    .back.centered
        h2 I make stuff that looks good, sounds good and feels good to use 👍




// Accessibility Game
.card
    .front
        img(src="/assets/images/acc_game_ill.svg" alt)
        h2 Teaching digital accessibility through an online game

        .project-label Project
        .click-label Read more

    .back(style="background: #3354E0; color: var(--light)")
        p As part of an internship at <b>Stichting Accessiblity</b> I designed and developed an online game that raises awareness by letting the player experience what it's like to have a disability when using the internet. 
        p Together with experience experts, I iteratively designed levels that represent different disabilities.
        a.button(href="/portfolio/accessibility") Read a case study about it
        a.button(href="https://accessibility-game.netlify.app" target="_blank") Or play the game here



// Muziekfabriek
.card#muziekfabriek
    .front
        img(src="/assets/images/muziekfabriek_photo.jpg" alt="photo of several small children playing with the muziekfabriek (music factory)")
        h2 Designing an interactive music experience for small children

        .project-label Project
        .click-label Read more

    .back
        img(src="/assets/images/muziekfabriek_wide.jpg" alt="a photo of a festival room, a group of children is playing with the muziekfabriek")
        p.
            As part of audio collective <b>Thinking in Sound</b>, we made a sound installation that allows children ages 6 and under to make music in a way that is accessible to them. <br>
            The installation was presented on festivals in Haarlem and Bloemendaal
        a(href="https://instagram.com/thinkinginsound" target="_blank").button.dark See more on Instagram


//- // Collaborative Design
//- .card
//-     .front.centered
//-         h2 I like to design with people, for people
//-     .back.centered
//-         h2 Also known as "collaborative design"


// Wayfinding
.card
    .front
        img(src="/assets/images/wayfinding_walking.jpg" alt="image of blind person being led by researcher")
        h2 Making navigating spaces easier for blind people using audio design

        .project-label Project
        .click-label Read more

    .back(style="background: #6FDEB1; color: var(--dark)")
        p.
            Together with Wayfinding institute MijksWise and blind organisation Visio, we did a <b> qualitive user test </b> with people of different visual disabilities.
        p.
            We had each participant walk a route and draw their mental-map afterwards, we used this data to understand how visually impaired people "see" the world.
        p.
            I organised the tests and together with a team, ran the tests and analysed the data. 
        p Case study coming soon...


// Thesis
.card
    .front
        img(src="/assets/images/thesis_brainstorm.jpg" alt)
        h2 Researching methods for ideation and exploration

        .project-label Thesis
        .click-label Read more

    .back(style="background: #cba1ff; color: var(--dark)")
        img(src="/assets/images/thesis_sketches.jpg" alt="piece of paper with loads of sketches on it")
        p.
            For my bachelor graduation thesis I researched different methods for structuring and documenting <b>ideation</b> sessions. With the goal of being able to generate and explore a lot of ideas in a short period of time.
        p.
            The thesis was graded with a perfect 10/10 😎
        a.button(href="/assets/Thesis_2022_MT_Bas_de_Bruin.pdf" target="_blank") Read the thesis here



// Voice interface
.card
    .front
        img(src="/assets/images/voice_interface.jpg" alt="mockup of a google home voice interface")
        h2 Designing a voice-first shopping experience

        .project-label Project
        .click-label Read more

    .back(style="background: #FD7523; color: var(--light)")
        p.
            During my UX minor, me, a group of students and Visio designed a prototype of an online shopping experience that is entirely controlled using your voice.
        p.
            We brainstormed ideas tested with blind- and sighted people using several different protyping tools.
        p.
            The ideas and findings were delivered as a pitch(deck) and a guide on how to structure voice interactions.



// IG and contact
.card
    .front.centered(style="gap: 1rem")
        h3 Follow what <br> I'm doing on:
        a(href="https://instagram.com/bas.de.bruin" target="_blank").button Instagram
    .back
        .image-grid
            img(src="assets/images/ig1.jpeg" alt="four decorative images showing off instagram posts")
            img(src="assets/images/ig2.jpeg" alt)
            img(src="assets/images/ig3.jpeg" alt)
            img(src="assets/images/ig4.jpeg" alt)

.card
    .front.centered
        h3 Let's get in contact! 👋
    .back.centered
        h3 Hit me up! I'm always open to learn new stuff and meet new people!

.card.half-size
    .front.centered
        p Send me an email:
        a.button(href="mailto:hoi@basdebruin.com") hoi@basdebruin.com
    .back.centered
        p Or add me on LinkedIn:
        a.button(href="https://www.linkedin.com/in/bas--de--bruin" target="_blank") LinkedIn