// Page Transitions scss file
// for portfolio site
// author: Bas de Bruin

// main content
.transition-main {
    transition: all 0.4s ease-out;
    opacity: 1;
}
html.is-animating .transition-main {
    opacity: 0;
}


// scroll animator

.scroller {
    transition: $transition-slow;
    
    &.fade-left {
        transform: translateX(-30%);
        opacity: 0;
    }
    &.fade-right {
        transform: translateX(30%);
        opacity: 0;
    }
    &.fade-up {
        transform: translateY(30%);
        opacity: 0;
    }
    
    &.fade-boldify {
        font-variation-settings: 'wght' 200;
        opacity: 0;
    }

    &.scroller-in {

        opacity: 1;
        transform: none;

        &.fade-boldify {
            font-variation-settings: 'wght' 800;
        }

    }
    
    
}