// HEAD general styles
// for portfolio site
// author: Bas de Bruin

html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   // min-height: -webkit-fill-available;
}
body {
    box-sizing: border-box;
    * { box-sizing: border-box; }
    width: 100%;

    // style
    background: $dark;
    background: $bg;
    color: $light;
    color: $fg;

    //fonts
    font-family: $fontFamily;
}

main {
    position: relative;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: unset;
    height: auto;
}


// Headings
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: $fontFamilyHeadings;
    line-height: 1.2;
    margin: 0;
}
h1, .h1 {
    font-size: 2.4rem;
}
h2, .h2 {
    font-size: 1.6rem;
}
h3, h4, .h3, .h4 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .03rem;
}
.light {
    opacity: .7;
}

p {
    line-height: 1.5em;
    letter-spacing: .05rem;
    margin: .5rem 0;
}

em, b {
    font-weight: 600;
    letter-spacing: .01rem;
}

strong {
    @extend h2;
}

li {
    @extend p;
    margin:  0;
}

a {
    display: block;
    color: $fg;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.4;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;

    z-index: 0;
}

.padding {
    padding: $padding;
}

@media (min-width: $breakSmall) {
    br.s {
        display: none;
    }
}