// HEAD general styles
// for portfolio site
// author: Bas de Bruin

html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   // min-height: -webkit-fill-available;
}
body {
    box-sizing: border-box;
    * { box-sizing: border-box; }
    width: 100%;

    // style
    background: $dark;
    background: $bg;
    color: $light;
    color: $fg;

    //fonts
    font-family: $fontFamily;
}

main {
    position: relative;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: unset;
    height: auto;

    // padding for footer
    padding-bottom: 8rem;
    @media (max-width: $breakLarge) {
        padding-bottom: 12rem;
    }
}


// Headings
h1, h2 {
    font-family: $fontFamilyHeadings;
    font-size: $fontSizeLarge;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: .02rem;
    line-height: 1.5;
}
h2 {
    font-size: $fontSizeMedium;
    font-weight: normal;
}
h3, h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
    letter-spacing: .03rem;
}

p {
    line-height: 1.5em;
    letter-spacing: .05rem;
    margin: .5rem 0;
    opacity: .8;
}

em, b {
    font-weight: 600;
    letter-spacing: .01rem;
}

li {
    @extend p;
    margin:  0;
}

a {
    display: block;
    color: $fg;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.4;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;

    z-index: 0;
}


.button {
    display: inline-block;
    border: none;
    background: $primary;
    padding: $buttonPadding;
    border-radius: $borderRadiusSmall;

    font-family: $fontFamily;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: $fg;

    transition: $transition;
    &:hover {
        background: $secondary;
        color: $bg;
    }

    &:active {
        transform: scale(0.95);
    }

    &.secondary {
        background: $secondary;
        color: $bg;
    }
}
.arrow-right {
    position: relative;
    background: $primary;

    margin-right: 1em;
    z-index: 100;

    &::after {
        content: ' ';
        position: absolute;
        right: -0.55em;
        top: 0.25em;
        display: block;
        width:  1.7em;
        height: 1.7em;
        background: $primary;

        border-radius: $borderRadiusSmall;

        transform: rotate(45deg);
        z-index: -1;

        transition: $transition;
    }

    &:hover::after {
        background: $secondary;
    }
}
.arrow-left {
    @extend .arrow-right;

    margin: 0;
    margin-left: 1rem;

    &::after {
        right: unset;
        left: -0.55em;
    }
    &.secondary::after {
        background-color: $secondary;
    }
}

.arrow-down {
    position: relative;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    z-index: 100;
    &::after {
        content: ' ';
        position: absolute;
        left: calc(50% - 0.65rem); bottom: -0.5rem;
        display: block;
        width: 1.3em;
        height: 1.3em;
        background: $buttonGrey;

        border-radius: $borderRadiusSmall;

        transform: rotate(45deg);
        z-index: -1;

        transition: $transition;
    }

    &:hover::after {
        background: $buttonAccent;
    }
}

.link {
    display: inline-block;
    font-weight: bold;
    opacity: 1;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;

    transition: $transition;
    &:hover {
        opacity: .7;
        text-decoration: none;
    }
}

// selection
*::selection {
    color: $bg;
    background: $fg;
    opacity: 1;
}

.padding {
    padding: $padding;
}