// VARIABLES
// for portfolio site
// author: Bas de Bruin

@import 'themes';

$grey-opacity: .7;
$grey2-opacity: .5;
$button-grey-opacity: .1;

// font
$fontFamily:         'Manrope', -apple-system, 'Roboto', sans-serif;
$fontFamilyHeadings: $fontFamily;
$fontSize:           16px;
$fontSizeSmall:      14px;
$fontSizeMedium:     2rem;
$fontSizeLarge:      3.4rem;

// breakpoints
$breakSmall: 70rem;
$breakLarge: 80rem;

// padding
$padding-big: 2rem; //1.3rem
$padding-small: 1rem;
$heroPadding: 8rem;
$buttonPadding: .5rem 1rem;

//radius
$borderRadiusSmall: .5rem;

// curves
$bezierFast: cubic-bezier(.14, .52, .25, .99);
$transition: all .15s $bezierFast;

:root {
    color-scheme: light dark;

    font-size: $fontSize;

    @include apply-theme($theme-light);

    --padding: #{$padding-big};

    // set dark mode if user preference
    @media (prefers-color-scheme: dark) {
        @include apply-theme($theme-dark);
    }

    // change padding on mobile
    @media screen and (max-width: $breakLarge) {
        --padding: #{$padding-small};
    }
}

// apply themes based on classes on <html>
@each $name, $theme in $theme-list {
    html {
        &.#{$name} {
            @include apply-theme($theme);
        }
    }
}

// Utility vars
$bg: var(--bg);
$fg: var(--fg);
$accent: var(--accent);

$primary: var(--primary);
$secondary: var(--secondary);
$raised: var(--raised);
$contact-page-color: var(--contact-page);

$grey:  var(--grey1);
$grey2: var(--grey2);

$buttonGrey: var(--button-bg);
$buttonAccent: var(--button-bg-accent);

$padding: var(--padding);