// VARIABLES
// for portfolio site
// author: Bas de Bruin

// font
$fontFamily:         'Inter', -apple-system, 'Roboto', sans-serif;
$fontFamilyHeadings: "Space Grotesk", $fontFamily;
$fontSize:           16px;
$fontSizeSmall:      14px;
$fontSizeMedium:     3rem;
$fontSizeLarge:      6rem;

// breakpoints
$breakSmall: 100rem;
$breakLarge: 120rem;

// padding
$padding-big: 2rem; //1.3rem
$padding-small: 1rem;
$heroPadding: 8rem;
$buttonPadding: .3rem .8rem;

//radius
$borderRadiusSmall: 0;

// curves
$bezierFast: cubic-bezier(.14, .52, .25, .99);
$transition: all .15s $bezierFast;

:root {
    color-scheme: light dark;

    font-size: $fontSize;

    --padding: #{$padding-big};
    // change padding on mobile
    @media screen and (max-width: $breakLarge) {
        --padding: #{$padding-small};
    }

    //light colors
    --bg: #F9F9F9;
    --fg: #1E1E23;

    --light: #F9F9F9;
    --dark: #1E1E23;

    --primary: #F2C045;
    --secondary: #EF9271;
    --raised: rgba(#1E1E23, .8);

    --contact-page: rgba(#F2C045, .95);
    // set dark mode if user preference
    @media (prefers-color-scheme: dark) {
        // dark colors
        --bg: #1E1E23;
        --fg: #F9F9F9;

        --primary: #F2C045;
        --secondary: #EF9271;
        --raised: rgba(#1E1E23, .8);

        --contact-page: rgba(#F2C045, .95);
    }

}

// Utility vars
$bg: var(--bg);
$fg: var(--fg);

$light: var(--light);
$dark: var(--dark);

$primary: var(--primary);
$secondary: var(--secondary);
$raised: var(--raised);
$contact-page-color: var(--contact-page);

$grey:  var(--grey1);
$grey2: var(--grey2);

$buttonGrey: var(--button-bg);
$buttonAccent: var(--button-bg-accent);

$padding: var(--padding);