// VARIABLES
// for portfolio site
// author: Bas de Bruin

// font
$fontFamily:    "Manrope", system-ui, -apple-system, 'Roboto', sans-serif;
$fontSizeSmall: 30px;
$fontSizeLarge: 30px;

// breakpoints
$break: 800px;

// curves
$bezierFast: cubic-bezier(.14, .52, .25, .99);
$transition: all .15s $bezierFast;
$transition-slow: all 1s $bezierFast;

:root {
    color-scheme: light dark;
    font-size: $fontSizeSmall;

    //light colors
    --bg: #fff;
    --fg: #0E1833;
    
    --grey: #eee;

    --primary: #45AAE7;
    // set dark mode if user preference
    @media (prefers-color-scheme: dark) {
        // dark colors
        --bg: #0E1833;
        --fg: #fff;

        --grey: rgba(#fff, .2);

    }

    --padding: .5rem;

}