// MAIN scss file
// for portfolio site
// author: Bas de Bruin

@import 'variables';
@import 'head';
@import 'animations';
@import 'smooth_gradient';

// containers
main {
    padding: $padding;
}
.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $breakSmall;
    padding: 0;
}
.container.center {
    text-align: center;
}
.columns {
    display: block;
    margin-bottom: 4rem;
    > * { margin: $padding 0 }
    @media (min-width: $breakSmall) {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch; justify-content: flex-start;
        margin-bottom: 0;
        > * {
            margin: 0 $padding-small;
            width: 100%;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        > img {
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
}

.padding {
    padding: $padding;
}
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header {
    position: fixed;
    top: 3rem; left: 0;
    &.lowered {
        top: 9rem;
    }
    transition: $transition;

    width: 100%;

    z-index: 900;

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        * {
            @extend h3;
        }

        ul {
            position: relative;

            $ind-size: .7rem;
            .indicator {
                position: absolute;
                bottom: -1.2rem; left: 1.5rem;
                width: $ind-size; height: $ind-size;
                background: $primary;
                border-radius: 100%;

                transition: $transition;

                &.scrolled-to-work {
                    left: 42%;
                }
                &.scrolled-to-contact {
                    left: 80%;
                }
            }
        }
    }

    #name {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .12rem;
    }

    #menu {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }
}

// HOME
// -> INTRO
#intro {
    @extend .container;
    margin: 18rem auto 10rem auto;

    > * {
        max-width: 75%;
    }
}

// PORTFOLIO

#work {
    @extend .container;
}

.portfolio-item {
    display: block;
}

.tasks {
    display: block;
    margin: 1.5rem 0 0 0;

    .task {
        display: inline-block;
        border: solid 2px $secondary;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        font-size: 0.8rem;
        font-family: $fontFamily;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1rem;
        color: $secondary;
    }
}

// portfolio page
#page-intro {
    @extend .container;
    margin-top: 10rem;
    margin-bottom: 4rem;
}
#page-content {
    @media (min-width: $breakSmall) {
        .columns {
            > *:first-child {
                width: 40%;
            }
            > *:last-child {
                width: 60%;
            }
        }
    }
}

#page-intro, #page-content { > .container, > .card, > .columns {
    margin-top: 6rem;
    margin-bottom: 6rem;
}}

// CARD
.card {
    display: block;
    width: 100%;
    background: rgba($light, .05);
    @media (prefers-color-scheme: light) { background: white; }

    margin-top: 0 !important;
    
    box-sizing: border-box;
    overflow: hidden;
    padding: $padding;
    //margin: 6rem auto;

    line-height: 1.2rem;

    max-width: $breakSmall;
    &.large {
        max-width: $breakSmall*2;
    }

    &.no-padding, &.cover { padding: 0 }

    > * {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &.cover > img { object-fit: cover }
    &.align-left > img { object-position: left; }
    &.align-right > img { object-position: right; }
}
.card.center {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around; justify-content: center;
}

// PAGE: 
.list-container {
    @extend .container;
    margin: 7rem auto 8rem auto !important;

    text-align: center;
    > :first-child {
        margin-bottom: 2rem;
    }
    .columns > * {
        width: 100% !important;
        > :first-child {
            margin-bottom: 1rem;
        }
    }
}

.highlight {
    @extend .container;
    margin: 7rem auto 8rem auto !important;
    text-align: center;
    max-width: $breakSmall * 0.5;

    h2, h3, h4 {
        margin: 1rem 0;
    }
    a {
        display: inline-block;
        padding: 6px 8px;
    }
}

// FOOTER
footer {
    opacity: .7;
    display: block;

    > * {
        padding: 1rem 0;
    }

    .center {
        text-align: center;
    }

    a {
        display: inline-block;
    }

    .columns { 
        overflow: visible;
        align-items: center;
        justify-content: space-between;

        div {
            width: auto !important;

            * { display: unset }

            @media (max-width: $breakSmall) {
                display: inline-block;
            }
            }
        }
    }