// MAIN scss file
// for portfolio site
// author: Bas de Bruin

@import 'variables';
@import 'head';
@import 'animations';
@import 'smooth_gradient';

// containers
.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $breakSmall;
    padding: 0;
}
.container.center {
    text-align: center;
}
.columns {
    display: block;
    margin-bottom: 4rem;
    > * { margin: $padding 0 }
    @media (min-width: $breakSmall) {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch; justify-content: flex-start;
        margin-bottom: 0;
        > * {
            margin: 0 $padding-small;
            width: 100%;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        > img {
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
}

.padding {
    padding: $padding;
}
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

// sticky sections
section {
    position: sticky;
    top: 0;

    padding: $padding;
    width: 100%;
    height: 90vh;
    z-index: 999;

    background-color: $bg;
}

#intro {
    h1 {
        font-size: 28vw;
        font-weight: 900;
        line-height: 0.8;
        letter-spacing: -.8vw;
    }
    span {
        color: $light;
        font-size: 1.7vw;
        font-weight: bold;
        position: absolute;
        bottom: -6.5vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

#about {
    background-color: $primary;

    h2 {
        font-size: 12vw;
        font-weight: 800;
        letter-spacing: -.4vw;
        line-height: 1.05;
    }
    h3 {
        margin-top: .5em;
        font-size: 4.5vw;
    }
}

#about-2 {
    background-color: $secondary;

    h3 {
        font-size: 5vw;
        width: 60%;
        line-height: 1.3;
    }
}

#work {
    background-color: $tertiary;

    h2 {
        font-size: 5vw;
        font-weight: normal;
        margin-bottom: .5em;
    }

    .portfolio-item {
        width: 100%;
        height: 30vw;

        background-color: $light;
        padding: $padding;

        h3 {
            font-size: 4vw;
            font-variation-settings: "wght" 200;
            transition: $transition;
        }

        &:hover h3 {
            font-weight: 700;
            font-variation-settings: "wght" 700;
            letter-spacing: -.04em;
        }
    }
}