// MAIN scss file
// for portfolio site
// author: Bas de Bruin

@import 'variables';
@import 'head';
@import 'animations';
@import 'smooth_gradient';

// containers
main {
    padding: $padding;
}
.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $breakSmall;
    padding: 0;
}
.container.center {
    text-align: center;
}
.container.small {
    max-width: $breakSmall * 0.5;
}
.columns {
    display: block;
    margin-bottom: 4rem;
    > * { margin: $padding 0 }
    @media (min-width: $breakSmall) {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch; justify-content: flex-start;
        margin-bottom: 0;
        > * {
            margin: 0 $padding-small;
            width: 100%;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        > img {
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
}

.padding {
    padding: $padding;
}
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.full-height {
    height: 100vh;
    transition: $transition;
}

header {
    position: fixed;
    top: -1rem; left: 0;

    width: 100%; height: 10rem;

    background: linear-gradient(scrim-gradient($dark));
    @media (prefers-color-scheme: light) { 
        background: linear-gradient(scrim-gradient($light))
    }

    z-index: 900;
    pointer-events: none;
}

// LOGO
#logo {
    position: fixed;
    top: $padding;
    left: $padding;

    z-index: 999;
}

#back {
    position: fixed;
    top: $padding; left: $padding;
    z-index: 999;
}

#contact-button {
    position: fixed;
    top: $padding;
    right: $padding;

    z-index: 999;
}

// HOME
// -> INTRO
#intro {
    @extend .container;

    p {
        font-size: 1.5rem;
        max-width: 40rem;
    }

    margin-top: 12rem;
    margin-bottom: 12rem;
}

// CONTACT
#contact {
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;

    width: 100vw; height: 100vh;
    padding: $padding;

    display: none; 
    &.open { display: flex }
    align-items: center; justify-content: center;

    transition: background 1s $bezierFast;
    background: transparent;
    &.open { background: $contact-page-color; }
    color: $bg;
    p { opacity: 1; }

    

    .content {
        transform: translateX(100vw);
        transition: transform 1s $bezierFast;
    }
    &.open .content { transform: translateX(0); }

    // content
    .content {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 60rem;
        max-height: 40rem;

        padding: 2rem;

        // items in content
        span, a, button {
            color: $bg;
            &::after {
                background: $secondary;
            }
        }

        #contact-close-button {
            position: absolute;
            top: $padding; right: $padding;
            z-index: 100000;
    
            display: flex; 
            align-items: center; justify-content: center;
            text-align: center;
    
            color: black;
            background: $light;
    
            width: 2.4rem; height: 2.4rem;
            border-radius: 1.2rem;
    
            img {
                width: auto; height: auto;
            }
    
            transition: $transition;
            &:hover {
                box-shadow: 0px 0px 0px 4px $dark;
            }
        }
    }


}

.icon-button {
    color: $light;
    background: $dark;
    border-radius: 0.4rem;

    position: relative;

    padding: 0.4rem;
    margin: 1rem 0;

    width: 9rem;
    min-width: auto;
    height: 3.4rem;

    overflow: visible;
    transition: $transition;
    &:hover {
        box-shadow: 0px 0px 0px 4px $light;

        &::after {
            box-shadow: 2.5px -2.5px 0px 1.5px $light;
        }
    }

    p {
        @extend h2;
        opacity: 1;
        font-size: 1.35rem;
        font-weight: 600;

        overflow: visible;

        margin: 
            -0.1rem 0
            -0.6rem  0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0.39rem; right: -0.9rem;

        background: $dark;
        display: block;
        width: 2.6rem;
        height: 2.6rem;

        border-radius: 0.4rem;
        transform: rotate(45deg);

        transition: $transition;
    }
}

// PORTFOLIO

.portfolio-item {
    display: block;
    position: relative;
    background: $fg;
    width: 100%;
    height: 27rem;
    @media (min-width: $breakSmall) {
        max-height: 35rem;
    }    

    margin-bottom: 2rem;
    padding: .5rem;
    
    > *, > *::after {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
    }
    img {
        object-fit: cover;

        background-color: $fg;
    }
    .color-overlay {
        background-color: $bg;
        mix-blend-mode: color;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        padding: 4rem;
        background-color: $raised;

        .description {
            display: flex;
            justify-content: space-between;
        }
    }
}

.tasks {
    display: block;
    margin: 1.5rem 0 0 0;

    .task {
        display: inline-block;
        border: solid 2px $secondary;
        padding: $buttonPadding;
        border-radius: $borderRadiusSmall;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        font-size: 0.8rem;
        font-family: $fontFamily;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1rem;
        color: $secondary;
    }
}

// portfolio page
#page-intro {
    @extend .container;
    margin-top: 10rem;
    margin-bottom: 4rem;
}
#page-content {
    @media (min-width: $breakSmall) {
        .columns {
            > *:first-child {
                width: 40%;
            }
            > *:last-child {
                width: 60%;
            }
        }
    }
}

#page-intro, #page-content { > .container, > .card, > .columns {
    margin-top: 6rem;
    margin-bottom: 6rem;
}}

// CARD
.card {
    display: block;
    width: 100%;
    background: rgba($light, .05);
    @media (prefers-color-scheme: light) { background: white; }

    margin-top: 0 !important;
    
    box-sizing: border-box;
    overflow: hidden;
    padding: $padding;
    border-radius: 1rem;
    //margin: 6rem auto;

    line-height: 1.2rem;

    max-width: $breakSmall;
    &.large {
        max-width: $breakSmall*2;
    }

    &.no-padding, &.cover { padding: 0 }

    > * {
        border-radius: 0.5rem;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &.cover > img { object-fit: cover }
    &.align-left > img { object-position: left; }
    &.align-right > img { object-position: right; }
}
.card.center {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around; justify-content: center;
}

// PAGE: 
.list-container {
    @extend .container;
    margin: 7rem auto 8rem auto !important;

    text-align: center;
    > :first-child {
        margin-bottom: 2rem;
    }
    .columns > * {
        width: 100% !important;
        > :first-child {
            margin-bottom: 1rem;
        }
    }
}

.highlight {
    @extend .container;
    margin: 7rem auto 8rem auto !important;
    text-align: center;
    max-width: $breakSmall * 0.5;

    h2, h3, h4 {
        margin: 1rem 0;
    }
    a {
        display: inline-block;
        padding: 6px 8px;
    }
}

// FOOTER
footer {
    opacity: .7;
    display: block;

    > * {
        padding: 1rem 0;
    }

    .center {
        text-align: center;
    }

    a {
        display: inline-block;
    }

    .columns { 
        overflow: visible;
        align-items: center;
        justify-content: space-between;

        div {
            width: auto !important;

            * { display: unset }

            @media (max-width: $breakSmall) {
                display: inline-block;
            }
            }
        }
    }